@using Microsoft.AspNetCore.Identity;
@using NomNom.Web.Models;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
// If user is logged in, display the following links
{
    if (User.IsInRole("admin"))
    {
        <li class="nav-item dropdown">
            <a class="nav-link text-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hello Admin, @User.Identity.Name!
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Manage Account</a></li>
                <li> <hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout">Logout</a></li>
            </ul>
        </li>
    }
    else if (User.IsInRole("client"))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Order">Order a Grilled Cheese</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link text-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hello, @User.Identity.Name!
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Manage Account</a></li>
                <li> <hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout">Logout</a></li>
            </ul>
        </li>

    }
    else if (User.IsInRole("vendor"))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/VendorOrders">Fulfill an Order</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link text-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Welcome back, @User.Identity.Name!
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Manage Account</a></li>
                <li> <hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout">Logout</a></li>
            </ul>
        </li>
    }
    

    
}
else
// If user is not logged in, display the following links
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
