@page
@model NomNom.Web.Pages.ConfirmationModel
@{
    ViewData["Title"] = "Order Confirmation";
}

<h2 class="align-content-center">Order Confirmation</h2>

<p class="align-content-center">Thank you for placing an order, your order number is @Model.OrderNumber.</p>
